<% if logged_in? %>
  <script type="text/javascript">
    object = 
      <%=      
        render
        partial: "api/users/user", 
        formats: [:json], 
        handlers: [:jbuilder],
        locals: { user: current_user }
      %>
      window.currentUser = object.html_safe
  </script>
<% end %>

<main id="root">React is Broken</main>

