// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'Amazon-Ember-Medium';
    src: url('/assets/fonts/Amazon-Ember-Medium.ttf')
 }

header * {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

#body {
    min-height: 100vh;
}

#logo {
    height: 50px;
    width: 150px;
    border-radius: 2px;
}

#header-black {
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo {
        margin-left: 15px;
    }
    #logo:hover {
        outline: 1px solid white;
        cursor: pointer;
    }
}

#header-blue {
    background-color: #232F3E;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 100%;
        white-space: nowrap;
    }
    
    a {
        font-size: 14px;
        padding: 5px;
        width: 100%;
        margin-inline: 1vw;
        border-radius: 2px;
    }
    a:hover{
        outline: 1px solid white;
    }
}

#greeting {

    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    cursor: default;
    p {
        color: white;
        font-size: 12px;
    }
    span {
        color: white;
        font-weight: 700;
    }
    #header-link {
        color: white;
        text-decoration: none;
        font-weight: 700;
    }
    #header-link:hover {
        color: #EEA333;
        cursor: pointer;
    }
}

#error-page {
    height: 40vh;
    bottom: 0%;
    width: 100vw;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}

footer {
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;

    p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    #back-to-top-footer {
        background-color: #38475A;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            background-color: #485769;
            cursor: pointer;
        }
    }

    #blue-footer {
        background-color: #232F3E;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 210px;
        
        img {
            width: 150px;
            height: 50px;
        }
    }
    
    #black-footer {
        background-color:#131921;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.category-page {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.category-bar {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #cccccc;
    box-shadow: 0px 1px 5px #dedede;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.grid {
    width: 100%;
    min-width: 762px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}

.grid-item {
    border-bottom: 2px solid #dddddd;
    width: 21%;
    min-width: 230px;
    height: 500px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;


    .grid-image-container {
        height: 220px;
        width: 220px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 85%;
            max-height: 220px;
            object-fit: contain;
            margin: 0 12px;
            align-self: center;
        }
    }

    h2 {
        margin-top: 8px;
        font-size: 16px;
        line-height: 24px;
        max-height: 140px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .grid-rating {
        padding-right: 5px;
    }

    .grid-price {
        margin-top: 8px;
        display: flex;
        align-items: flex-start;
    
        .grid-dollar-sign, .grid-cents {
            font-size: 12px;
            padding-top: 2px;
        }

        .grid-dollars {
            font-size: 21px;
        }
    }

    .grid-shipping {
        color: #565959;
        padding-top: 4px;
        font-size: 14px;
        line-height: 20px;

        b {
            font-weight: 700;
        }
    }
}